body {
    color: rgb(22, 24, 22);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#container {
    width: 75%;
    padding: 0em;
    text-align: left;
    border: 3px dashed rgb(148, 42, 234);
    margin: auto;
    margin-top: 3%;
}

#container p {
    text-align: justify;
    padding: 0 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Arial Narrow', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container h1 {
    font-size: 20px;
    padding: 0 20px;
}

#post{
    background: white;
    padding: 1em;
    text-align: center;
}

#cabecera{
    background: rgb(148, 42, 234);
    box-shadow: 0 5px 15px 0 rgb(74, 72, 72);
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 1em;
}

#cabecera #tagline {
    padding-left: 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#cabecera #logo{
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

footer {
    background: rgb(172, 171, 171);
    text-align: center;
    font-size: 25px;
    width: 75%;
    margin: 0 auto;
    padding: 0.2em 0;
    color: rgb(255, 255, 255);
}